{% extends 'portfolio/skel.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'portfolio/css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="container dark">
    <div class="row">
        <h1>Blog</h1>
        <a href="{% url 'edit' artigo.id %}" class="right vert-end">Editar artigo</a>
    </div>

    <div class="artigo-container">
        <h2>{{ artigo.nome }}</h2>
        {% if artigo.imagem %}
            <img src="{{ artigo.imagem.url }}" alt="" class="artigo-imagem">
        {% endif %}
        <p>{{ artigo.texto }}</p>
    </div>

    <button onclick="comecarComentario()" style="width: fit-content; margin: 2% auto;">Novo comentário</button>

    <form action="{% url 'comment' artigo.id %}" method="post" name="form" class="hidden artigo-container">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Submeter!">
    </form>

    <div class="artigo-container">
        {% for c in artigo.comentario_set.all %}
            <div class="artigo">
                <div>
                    <h2>{{ c.autor }}</h2>
                    <p>{{ c.texto }}</p>
                </div>
                <div class="like">
                    <img src="{% static 'portfolio/img/like.png' %}" alt="" onclick="like(this, {{ c.id }})">
                    <span>{{ c.likes }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'portfolio/js/article.js' %}"></script>
{% endblock %}