{% extends 'portfolio/skel.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'portfolio/css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="container dark">
    <div class="row">
        <h1>Blog</h1>
        <a href="{% url 'new' %}" class="right vert-end">Novo artigo</a>
    </div>
    {% for area in areas %}+
        <h2>{{ area.nome }}</h2>
        <div class="artigo-container">
        {% for artigo in area.artigo_set.all %}
            <div class="artigo">
                {% if artigo.imagem %}
                    <img src="{{ artigo.imagem.url }}" alt="">
                {% endif %}
                <div>
                    <a href="{% url 'article' artigo.id %}"><h2>{{ artigo.nome }}</h2></a>
                    <p>{{ artigo.texto }}</p>
                </div>
                <div class="like">
                    <img src="{% static 'portfolio/img/like.png' %}" alt="" onclick="like(this, {{ artigo.id }})">
                    <span>{{ artigo.likes }}</span>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>

<script src="{% static 'portfolio/js/global.js' %}"></script>
<script src="{% static 'portfolio/js/blog.js' %}"></script>
{% endblock %}