{% extends 'portfolio/skel.html' %}
{% load static %}

{% block header %}
<a href="{% url 'index' %}/#second">Sobre</a>
<a href="{% url 'index' %}/#third">Projetos</a>
<a href="{% url 'index' %}/#forth">PW</a>
<a href="{% url 'playground' %}">Playground</a>
{% endblock %}

{% block menu %}
<a href="{% url 'index' %}/#second">Sobre</a>
<a href="{% url 'index' %}/#third">Projetos</a>
<a href="{% url 'index' %}/#forth">PW</a>
<a href="{% url 'playground' %}">Playground</a>
{% endblock %}

{% block content %}
<div class="container dark">
    <div class="row">
        <h1>Blog</h1>
        <a href="{% url 'new' %}" class="right vert-end">Novo artigo</a>
    </div>
    {% for area in areas %}
        <h2>{{ area.nome }}</h2>
        <div>
        {% for artigo in area.artigo_set.all %}
            <div>
                <p>{{ artigo.nome }}</p>
                <p>{{ artigo.texto|truncatechars:25 }}</p>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>

<script src="{% static 'portfolio/js/global.js' %}"></script>
{% endblock %}