{% extends 'portfolio/skel.html' %}
{% load static %}

{% block content %}
<div class="parent">
    <div class="dark container" id="first">
        <span id="insp">Estudante de dia<br>Programador à noite</span>
    </div>

    <img src="{% static 'portfolio/img/mouse-scroll.svg' %}" height="40" width="40">
</div>

<article class="dark container" id="second">
    <h1>Sobre</h1>

    <h2>Educação</h2>

    <div class="content">
        <ul>
            <li>Secundário: Escola Secundária Ibn Mucana</li>
            <li>Curso: Engenharia Informática 2º Ano ULHT</li>
        </ul>
    </div>

    <h2>Aptidões</h2>

    <div class="content">
        <ul>
            <li>Linguas: Português (nativa), Inglês</li>
            <li>Linguagens de Programação: Kotlin, C, Java, Clojure, HTML/CSS/JS</li>
        </ul>
    </div>
</article>
</div>

<article class="dark container" id="third">
    <h1>Projetos</h1>

    <div class="content">
        {% for p in projects %}
        <div class="project dark">
            <div></div>
            <div>
                <p>{{ p.nome }}</p>
                <p>{{ p.descricao|truncatechars:20 }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</article>

<article class="dark container" id="forth">
    <h1>Programação Web</h1>

    <div class="content">
        <a class="project dark" href="https://jajms.pythonanywhere.com/index.html">
            <div></div>
            <span>Lab 1/2</span>
        </a>
        <a class="project dark" href="https://jajms.pythonanywhere.com/lab3/index.html">
            <div></div>
            <span>Lab 3</span>
        </a>
        <a class="project dark" href="https://jajms.pythonanywhere.com/lab4/index.html">
            <div></div>
            <span>Lab 4</span>
        </a>
    </div>
</article>

<script src="{% static 'portfolio/js/global.js' %}"></script>
{% endblock %}
