.artigo p {
    font-size: small;
}

.artigo p:first-child {
    font-size: larger;
}

.artigo-container {
    width: 50vw;
    align-self: center;

    background-color: lightgray;
    border-radius: 25px;

    padding: 1.25%;
}

.artigo-container * {
    color: black;
}

.artigo-container.light {
    background-color: darkgray;
}